.container{
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    display : flex;

}
h1 { 
    display: inline-block;
}

.image {
    display : inline-block;
    width : 50vw;
    height: fit-content;
    margin-left: 1rem;
}
.content{
    width: 85vw;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f4f4ff;

}
