.container{
    width: 90vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    display : flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;

}
h1 { 
    margin: auto;
    display: inline-block;
}
img{
    display: inline-block;
}

.image {
    margin: auto;
    display : inline-block;
    width : 40vw;
}
.content{
    width: 85vw;
    margin: 0 auto;
    padding: 1rem;
    background-color: #f4f4ff;

}
.block {
    display: inline-block;
}