.container{
    min-height: 100dvh;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    display : flex;

}
h1 { 
    display: inline-block;
}

.image {
    width : 60dvw;
    margin-left: 10rem;
}
